<section class="tab {{tabs.biography.id}} {{tabs.biography.cssClass}}" data-group="primary" data-tab="biography">
    {{editor data.system.biographyHTML target="system.biography" button=true owner=owner editable=editable}}
</section>

