<section class="tab {{tabs.spells.id}} {{tabs.spells.cssClass}}" data-group="primary" data-tab="spells">
    {{> "systems/splittermond/templates/sheets/actor/parts/spells-list.hbs" spellsBySkill=spellsBySkill
            channeledSpells=data.system.focus.channeled.entries}}
</section>

