<section class="tab {{tabs.status.id}} {{tabs.status.cssClass}}" data-group="primary" data-tab="status">
    {{> "systems/splittermond/templates/sheets/actor/parts/status-tab.hbs"
            channeledHealthEntries=data.system.health.channeled.entries statuseffects=itemsByType.statuseffect
            spelleffects=itemsByType.spelleffect
            hasRestActions=hasRestActions}}
</section>

