<div class="item-sheet-stat-block">
    {{#each statBlock}}
        <div class="item-sheet-stat-block-item">
            <label>{{localize this.label}}</label>
            <span>{{this.value}}</span>
        </div>
    {{/each}}
</div>